<div class="page-header">
  <h1>

  </h1>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-2 col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          Manage Items
        </h2>
      </div>
      <a href="/items">
        <div class="panel-body fixed-panel">
          <img class="img-responsive center-block" src="/assets/images/item.jpg">
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-3 col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          Manage Departments
        </h2>
      </div>
      <a href="/departments">
        <div class="panel-body fixed-panel">
          <img class="img-responsive center-block" src="/assets/images/department.jpg">
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-3 col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          Manage Units
        </h2>
      </div>
      <a href="/units">
        <div class="panel-body fixed-panel">
          <img class="img-responsive center-block" src="/assets/images/units.jpg" >
        </div>
      </a>
    </div>
  </div>
</div>
